{{>header}}

<div class="container">


 
    <div class="row">
      <div class="col-md-8">
        <img src="#" alt="photo" style="height : 120px;">
        </div>

        <div class="col-md-4">
          <div>
            <h3>Entreprise</h3>
            <button class="btn -btn-succes">Acheter</button>
            <a href="#">Voir le numero</a>
          </div>
        </div>
    </div>
 <div class="row">
    <h3>titre</h3>
    <div>
      <p>Prix</p>
    </div>
    <div>
      <hr>
      <div id="criteres">
      <p><strong>Criteres</strong></p>
      <div class="row">
        <div class="col-6 col-md-4">Etat</div>
        <div class="col-6 col-md-4">Type </div>
        <div class="col-6 col-md-4">Couleur </div>
      </div>
      
      <div class="row">
        <div class="col-6 col-md-4">Produit  </div>
        <div class="col-6 col-md-4"> Matiere</div>
      </div>

      </div>
      <hr>
      <div class="description">
        <h2>Description</h2>
      </div>
      <div class="adresse">
        <h2>Lieu  : </h2>
        <div><p>ici</p></div>
      </div>
    </div>
<hr>
<div> 
  <p>
    <a href="#">Signaler l'annonce</a>
  </p>
</div>


 </div>
 
  <ul>
  {{#subcategories}}
    <li>
      <a href="/emplois/{{subcategory}}/{{type}}/{{.}}">{{.}}</a>
    </li>
  {{/subcategories}}
</ul>

</div>