
<div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {{#categories}}
    <div class="carousel-item ">
      <img src="{{imageSrc}}" class="d-block mx-auto" alt="{{categoryName}}">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{category}}</h5>
      </div>
    </div>
    {{/categories}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>