


{{>header}}

<div class="container">
  <div class="wrapper">
    <div class="row">
      {{#roleIsEntreprise}}
      <div class="col-md-4 mb-2">
        <div class="param">
          <a href="/entreprise/read_my_annonces">
            <i class="bi bi-ticket-detailed"></i>
            <h6>Mes annonces</h6>
          </a>
        </div>
      </div>
      {{/roleIsEntreprise}}

      {{#roleIsDemandeur}}
      <div class="col-md-4 mb-2">
        <a href="/voir_mes_demandes">
          <div class="param">
            <i class="bi bi-person-square"></i>
            <h6>Espace candidat</h6>
          </div>
        </a>
      </div>
      {{/roleIsDemandeur}}

      <div class="col-md-4 mb-2">
        <a href="#">
          <div class="param">
            <i class="bi bi-wallet2"></i>
            <h6>Transactions</h6>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-2">
        <a href="#">
          <div class="param">
            <i class="bi bi-person-fill-x"></i>
            <h6>Supprimer mon compte</h6>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-2">
        <div class="param">
          <a href="#">
            <i class="bi bi-person-fill-up"></i>
            <h6>Modifier mes infos</h6>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="param">
          <a href="#">
            <i class="bi bi-keyboard"></i>
            <h6>Changer de mot de passe</h6>
          </a>
        </div>
      </div>
    </div>
    <button class="btnDecon">
      <a href="/logout">se deconnecter</a>
    </button>
  </div>
</div>


{{>footer}}

  
  <style>
    .container {
        margin-right :5px;
        margin-top : 19px;
    }
    .btnDecon{
        width : 130px;
        height : auto;
        border-radius: 10px;
        text-transform: capitalize;
        text-overflow: clip;
      }
    .wrapper {
        margin-top : 10rem;
        margin-left : auto;
        margin-right : auto;
        margin-bottom : auto;
    }
    .param{
        border: 2px solid #211b1b;
        margin-bottom : 10px;
        padding: 10px;
        border-radius: 5%;
        height : 120px;
        box-shadow: inset;
        width : 390px;
      }

     
  </style>
  