{{>header}}



    <legend>Informations Véhicule</legend>
    {{#subcategories}} 
    <!-- Button trigger modal -->
    <div class="dropend">

      <div class="p-3 mb-2 bg-danger text-white rounded-pill shadow-lg p-3 mb-5 bg-body rounded">
        <a href="#" class="dropdown-toggle" data-type="{{.}}" data-bs-toggle="dropdown"  aria-expanded="false">{{.}}</a>
        <ul class="dropdown-menu dropdown-menu-lg-end">
         
                    
          <li><a class="dropdown-item" href="#"data-bs-toggle="modal" data-bs-target="#{{.}}-Voiture">Voiture</a></li>
          <li><a class="dropdown-item" href="#"data-bs-toggle="modal" data-bs-target="#{{.}}-Moto">Moto</a></li>
      </ul>
     </div>
          
  
</div> 

<!-- Modal -->
<div class="modal fade" id="{{.}}-" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        
      
      <div class="modal-body">
        <form id="annonceForm" action="" method="POST">
          <select class="form-select type-select" aria-label="Sélectionner le type de véhicule">
            <option selected>Choisissez le type de véhicule</option>
            <option value="Voiture">Voiture</option>
            <option value="Moto">Moto</option>
          </select>
        
            <!-- champs pour la location de moto  -->
         <div id="Location-Moto" style="display: none;" class="form-fields">
          <div class="container">
              <div class="form-group">
                  <p>Veuillez entrer un titre pour votre annonce</p>
                  <label for="titre">Titre :</label>
                  <input type="text" id="titre" name="titre" class="form-control"  >
              </div>
              <div class="row g-2">
                <div class="col-6">
                  <div class="form-group">
                      <label for="marqueMotoLocation">Marque :</label>
                      <input type="text" id="marqueMotoLocation" name="marqueMotoLocation" class="form-control"  >
                    </div>              
                  </div>
                <div class="col-6">
                  <div class="form-group">
                      <label for="modeleMotoLocation">Modèle :</label>
                      <input type="text" id="modeleMotoLocation" name="modeleMotoLocation" class="form-control"  >
                    </div>              
                  </div>
                <div class="col-6">
                  <div class="form-group">
                      <label for="anneeModelMotoLocation">Année modèle :</label>
                      <input type="text" id="anneeModelMotoLocation" name="model_yearMotoLocation" class="form-control"  >
                    </div>              
                  </div>
                <div class="col-6">
                  <div class="form-group">
                      <label for="kilometrageMotoLocation">Kilométrage :</label>
                      <input type="text" id="kilometrageMotoLocation" name="kilometrageMotoLocation" class="form-control"  >
                    </div>              
                  </div>
              </div>
              <div class="row g-2">
                  <div class="col-6">
                      <div class="form-group">
                          <label for="prixMotoLocation">Prix de location :</label>
                          <input type="text" id="prixMotoLocation" name="prixMotoLocation" class="form-control"  >
                        </div>                
                      </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="cautionMotoLocation">Caution :</label>
                          <input type="text" id="cautionMotoLocation" name="cautionMotoLocation" class="form-control"  >
                        </div>                
                      </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="periodeLocation">Période de location :</label>
                          <input type="text" id="periodeLocation" name="periodeLocation" class="form-control"  >
                        </div>                
                      </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="carburantMotoLocation">Carburant :</label>
                          <select id="carburantMotoLocation" name="carburantMotoLocation" class="form-control">
                            <option value="essence">Essence</option>
                            <option value="electrique">Électrique</option>
                            <option value="hybride">Hybride</option>
                          </select>
                        </div>               
                      </div>
                </div>
                <div class="row gx-5">
                  <div class="col">
                      <div class="form-group">
                          <label for="etatMotoLocation">État de la moto :</label>
                          <select id="etatMotoLocation" name="etatMotoLocation" class="form-control">
                            <option value="neuf">Neuf</option>
                            <option value="occasion">Occasion</option>
                          </select>
                        </div>               
                      </div>
                  <div class="col">
                      <div class="form-group">
                          <label for="photosVoiture">Photos :</label>
                          <input type="file" id="photosVoiture" name="photosVoiture" class="form-control-file" multiple  >
                        </div>                
                      </div>
                </div>
                <div class="form-group">
                  <label for="description">Description :</label>
                  <textarea id="description" name="description" class="form-control" rows="4"  ></textarea>
                </div>
          </div>
      </div>

          <div class="Location-Voiture" class="form-fields">
            <legend>Informations Location de Voiture</legend>

            <div class="row g-2">
              <div class="form-group">
                  <p>Veuillez entrer un titre pour votre annonce</p>
                  <label for="titre">Titre :</label>
                  <input type="text" id="titre" name="titre" class="form-control"  >
                </div>
            <div class="col-6">
              <div class="form-group">
                <label for="marqueVoiture">Marque de la voiture :</label>
                <input type="text" id="marqueVoiture" name="marqueVoiture" class="form-control"  >
              </div>              
          </div>
            <div class="col-6">
              <div class="form-group">
                  <label for="modeleVoiture">Modèle de la voiture :</label>
                  <input type="text" id="modeleVoiture" name="modeleVoiture" class="form-control"  >
                </div>              
              </div>
            <div class="col-6">
              <div class="form-group">
                  <label for="anneeModelVoiture">Année modèle :</label>
                  <input type="text" id="anneeModelVoiture" name="anneeModelVoiture" class="form-control"  >
                </div>              
              </div>
            <div class="col-6">
              <div class="form-group">
                  <label for="kilometrageVoiture">Kilométrage :</label>
                  <input type="text" id="kilometrageVoiture" name="kilometrageVoiture" class="form-control"  >
                </div>             
              </div>
          </div>
          <div class="row g-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="prixLocation">Prix de location par jour :</label>
                    <input type="text" id="prixLocation" name="prixLocation" class="form-control"  >
                  </div>               
                </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="caution">Caution :</label>
                    <input type="text" id="caution" name="caution" class="form-control"  >
                  </div>                
                </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="periodeLocation">Période de location :</label>
                    <input type="text" id="periodeLocation" name="periodeLocation" class="form-control"  >
                  </div>                
                </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="carburantVoiture">Carburant :</label>
                    <select id="carburantVoiture" name="carburantVoiture" class="form-control">
                      <option value="essence">Essence</option>
                      <option value="diesel">Diesel</option>
                      <option value="hybride">Hybride</option>
                      <option value="electrique">Électrique</option>
                    </select>
                  </div>                
                </div>
          </div>
          <div class="row g-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="nombrePlaces">Nombre de places :</label>
                    <input type="number" id="nombrePlaces" name="nombrePlaces" class="form-control"  >
                  </div>                
                </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="disponibiliteVoiture">Disponibilité :</label>
                    <input type="text" id="disponibiliteVoiture" name="disponibiliteVoiture" class="form-control"  >
                  </div>                
                </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="photosVoiture">Photos :</label>
                    <input type="file" id="photos" name="photos" class="form-control-file" multiple  >
                  </div>                
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description :</label>
            <textarea id="description" name="description" class="form-control" rows="4" ></textarea>
          </div>
          </div> 
           <!--Fin champs de location pour voiture -->
        

        
          <!-- Champs spécifiques pour la vente de motos -->
            <div id="Vente-Moto" style="display: none;" class="form-fields">
              <div class="container">
                  <div class="form-group">
                      <p>Veuillez entrer un titre pour votre annonce</p>
                      <label for="titre">Titre :</label>
                      <input type="text" id="titre" name="titre" class="form-control"  >
                    </div>
                  <div class="row g-2">
                    <div class="col-6">
                      <div class="form-group">
                          <label for="marqueMoto">Marque :</label>
                          <input type="text" id="marqueMoto" name="marqueMoto" class="form-control"  >
                        </div>                  
                      </div>
                    <div class="col-6">
                      <div class="form-group">
                          <label for="modeleMoto">Modèle :</label>
                          <input type="text" id="modeleMoto" name="modeleMoto" class="form-control"  >
                        </div>                  
                      </div>
                    <div class="col-6">
                      <div class="form-group">
                          <label for="anneeModelMoto">Année modèle :</label>
                          <input type="text" id="anneeModelMoto" name="model_yearMoto" class="form-control"  >
                        </div>                  
                      </div>
                    <div class="col-6">

                      <div class="form-group">
                          <label for="kilometrageMoto">Kilométrage :</label>
                          <input type="text" id="kilometrageMoto" name="kilometrageMoto" class="form-control"  >
                        </div>                  
                      </div>
                  </div>
                  <div class="row g-2">
                      <div class="col-6">
                          <div class="form-group">
                              <label for="prixMoto">Prix :</label>
                              <input type="text" id="prixMoto" name="prixMoto" class="form-control"  >
                            </div>                    
                          </div>
                      <div class="col-6">
                          <div class="form-group">
                              <label for="cylindreMoto">Cylindrée :</label>
                              <input type="text" id="cylindreMoto" name="cylindreMoto" class="form-control"  >
                            </div>                    
                          </div>
                      <div class="col-6">
                          <div class="form-group">
                              <label for="carburantMoto">Carburant :</label>
                              <select id="carburantMoto" name="carburantMoto" class="form-control">
                                <option value="essence">Essence</option>
                                <option value="electrique">Électrique</option>
                                <option value="hybride">Hybride</option>
                              </select>
                            </div>                    
                          </div>
                      <div class="col-6">
                          <div class="form-group">
                              <label for="etatMoto">État de la moto :</label>
                              <select id="etatMoto" name="etatMoto" class="form-control">
                                <option value="neuf">Neuf</option>
                                <option value="occasion">Occasion</option>
                              </select>
                            </div>                    
                          </div>
                      <div class="col-6">
                          <div class="form-group">
                              <label for="photosVoiture">Photos :</label>
                              <input type="file" id="photosVoiture" name="photosVoiture" class="form-control-file" multiple  >
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="description">Description :</label>
                      <textarea id="description" name="description" class="form-control" rows="4"  ></textarea>
                    </div>
                </div>
            </div> 
              <!-- Champs spécifiques pour la vente de voitures -->
              <div id="Vente-Voiture" style="display: none;" class="form-fields">
                <div class="container">
                    <div class="form-group">
                        <p>Veuillez entrer un titre pour votre annonce</p>
                        <label for="titre">Titre :</label>
                        <input type="text" id="titre" name="titre" class="form-control"  >
                      </div>
                    <div class="row g-2">
                      <div class="col-6">
                        <div class="form-group">
                            <label for="marque">Marque :</label>
                            <input type="text" id="marque" name="marque" class="form-control"  >
                          </div>          
                        </div>
                      <div class="col-6">
                        <div class="form-group">
                            <label for="modele">Modèle :</label>
                            <input type="text" id="modele" name="modele" class="form-control"  >
                          </div>            
                        </div>
                      <div class="col-6">
                        <div class="form-group">
                            <label for="anneeModel">Année modèle :</label>
                            <input type="text" id="anneeModel" name="model_year" class="form-control"  >
                          </div>          
                        </div>
                      <div class="col-6">
                        <div class="form-group">
                            <label for="dateMiseEnCirculation">Date de première mise en circulation :</label>
                            <input type="date" id="dateMiseEnCirculation" name="circulation" class="form-control"  >
                          </div>          
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="kilometrage">Kilométrage :</label>
                                <input type="text" id="kilometrage" name="kilometrage" class="form-control"  >
                              </div>            
                            </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="etatVehicule">État du véhicule :</label>
                                <select id="etatVehicule" name="etatVehicule" class="form-control">
                                  <option value="neuf">Neuf</option>
                                  <option value="occasion">Occasion</option>
                                </select>
                          </div>            
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="carburant">Carburant :</label>
                                <select id="carburant" name="carburant" class="form-control">
                                  <option value="diesel">Diesel</option>
                                  <option value="essence">Essence</option>
                                  <option value="electrique">Électrique</option>
                                  <option value="hybride">Hybride</option>
                                </select>
                              </div>           
                            </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="photosVoiture">Photos :</label>
                                <input type="file" id="photosVoiture" name="photosVoiture" class="form-control-file" multiple  >
                              </div>           
                            </div>
                      </div>
                      <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea id="description" name="description" class="form-control" rows="4"  ></textarea>
                      </div>
                  </div>
                                <!--Fin champs de vente pour voiture -->

          </div>
        
       
                
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Déposer</button>
      </div>
    </form>
    </div>
  </div>
</div>
    
{{/subcategories}}
   
  
          
            
                
                
            

<script>
  // Sélectionnez tous les éléments .type-select
  const subc = document.querySelector(".vehicule-categorie").getAttribute("data-type");

  // Parcourez chaque élément de sélection et ajoutez un gestionnaire d'événements au changement
  subc.forEach(function (select) {
    select.addEventListener("change", function () {
      const selectedType = this.value;
      const typeSelects = document.querySelectorAll(".type-select");

      // Masquez tous les champs spécifiques
      document.getElementById("Location-Moto").style.display = "none";
      document.getElementById("Vente-Voiture").style.display = "none";
      document.getElementById("Vente-Moto").style.display = "none";
      document.getElementById("Location-Voiture").style.display = "none";
  
      // Affichez les champs spécifiques en fonction de la sélection
      if (subc === "Location") {
        if (selectedType === "Voiture") {
          document.getElementById("Location-Voiture").style.display = "block";
        } else if (selectedType === "Moto") {
          document.getElementById("Location-Moto").style.display = "block";
        }} else if (subc === "Vente") {
          if (selectedType === "Voiture") {
            document.getElementById("Vente-Voiture").style.display = "block";
          } else if (selectedType === "Moto") {
            document.getElementById("Vente-Moto").style.display = "block";
          }
        }
    
        // Mettez à jour l'action du formulaire avec les valeurs de la catégorie et de la sous-catégorie
        const form = document.getElementById("annonceForm");
        form.action = `/deposer_annonce/${categorie}/${subc}`;
      });
    });



       
</script>

