{{>header}}
<!-- Ajoutez ce formulaire en dessous de votre contenu principal -->
<div class="modal fade" id="repondreModal" tabindex="-1" aria-labelledby="repondreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="repondreModalLabel">Répondre à la candidature "{{titre}}"</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/answering_candidature/{{id_dm}}" method="post">
            <div class="form-group">
              <label for="reponseTextarea">Votre réponse :</label>
              <textarea class="form-control" id="reponseTextarea" name="reponse" rows="5" required></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" form="repondreForm" class="btn btn-primary">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
{{>footer}}
