{{>header}}

<div class="container">
    <div class="wrapper d-flex flex-column align-items-center justify-content-center">
        <div class="coo">
            <button class="btn"> modifier</button>
            <button class="btn"> supprimer</button>

        </div>
        {{#annonce}}
        <div>
            <h2>{{titre}}</h2>
            <h6>{{adresse}}</h6>
            <p>Description : {{description}}</p>
            <p>Date de publication : {{date_creation}}</p>
        </div>
        {{/annonce}}
        
    </div>

</div>



<style>
    .wrapper{
        position: relative;
        top : 50px;
        border: 12px;
    }
</style>